@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<MaxithermalWebApplication.Models.Setting>
@*<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
@*<script src="~/Scripts/popper.min.js"></script>*@
@*@Scripts.Render("~/bundles/jquery-3.6.0.min.js")
@Scripts.Render("~/bundles/bootstrap.min.js")*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(GetSettings, 1000);
    });
    function GetSettings() {
        $.getJSON("/Home/GetData",
            function (json) {
                for (var i = 0; i < json.length; i++) {
                    var id = json[i].Serial;
                    var background;
                    var data1 = parseFloat(json[i].Data1);
                    var highAl1 = parseFloat(json[i].HighAlarmTemp);
                    var lowAl1 = parseFloat(json[i].LowAlarmTemp);
                    if (json[i].Status == "running") {
                        if (json[i].AlarmStatus1.text == "true" && (data1 > highAl1 ||
                            data1 < lowAl1)) {
                            background = "red";
                        }
                    }
                    else {
                        background = "";
                    }
                    var unit1 = "";
                    var unit2 = "";
                    if (json[i].Unit == "Celsius") {
                        unit1 = "°C";
                    }
                    else {
                        unit1 = "°F";
                    }
                    var devType = parseInt(json[i].Devicetype)
                    if (devType == 0x11 || devType == 0x22 || devType == 0x33 || devType == 0x66) {
                        unit2 = "%";
                    }
                    else {
                        unit2 = unit1;
                    }
                    if ($("#1_" + id).length == 0) {
                        //it doesn't exist, Append row to html table
                        var tr;
                        tr = $('<tr>');
                        tr.append("<td id=1_" + json[i].Serial + ">" + json[i].Serial + "</td>");
                        tr.append("<td id=2_" + json[i].Serial + ">" + json[i].Description + "</td>");
                        tr.append("<td id=3_" + json[i].Serial + ">" + json[i].Location + "</td>");
                        tr.append("<td id=4_" + json[i].Serial + ">" + json[i].Status + "</td>");
                        tr.append("<td id=5_" + json[i].Serial + ">" + json[i].Runtime + "</td>");
                        //if (json[i].AlarmStatus == true) {
                        //    tr.append("<td id=6_" + json[i].Serial + "style=\"background - color: #0c0c0d\"" + ">" + json[i].HighAlarmTemp + "</td>");
                        //    tr.append("<td id=7_" + json[i].Serial + "style=\"background - color: background\"" + ">" + json[i].LowAlarmTemp + "</td>");
                        //}
                        //else {
                        //    tr.append("<td id=6_" + json[i].Serial + "style=\"background - color: background\"" + ">" + "No alarm" + "</td>");
                        //    tr.append("<td id=7_" + json[i].Serial + "style=\"background - color: background\"" + ">" + "No alarm" + "</td>");
                        //}
                        if (json[i].AlarmStatus == true) {
                            tr.append("<td id=6_" + json[i].Serial + ">" + json[i].HighAlarmTemp + "</td>");
                            tr.append("<td id=7_" + json[i].Serial + ">" + json[i].LowAlarmTemp + "</td>");
                        }
                        else {
                            tr.append("<td id=6_" + json[i].Serial + ">" + "No alarm" + "</td>");
                            tr.append("<td id=7_" + json[i].Serial + ">" + "No alarm" + "</td>");
                        }

                        tr.append("<td id=8_" + json[i].Serial + ">" + json[i].Data1 + unit1 + "</td>");
                        tr.append("<td id=9_" + json[i].Serial + ">" + json[i].Data2 + unit2 + "</td>");
                        //tr.append("<td id=10_" + json[i].Serial + ">" + json[i].Alarm + "</td>");
                        tr.append("<td id=11_" + json[i].Serial + ">" + json[i].TimeUpdated + "</td> ");
                        tr.append("<td><a href=/home/edit/" + json[i].Serial + ">Edit </a>");
                        tr.append("<a href=/home/Details/" + json[i].Serial + ">Detail </a>");
                        tr.append("<a href=/home/settinglogger/" + json[i].Serial + ">Initialize logger </a>");
                        tr.append("<a href=/home/alarm/" + json[i].Serial + ">Alarm</a>");
                        tr.append("<a href=/data/index/" + json[i].Serial + ">Data </a>");
                        tr.append("<a href=/graph/index/" + json[i].Serial + ">Graph</a></td ></tr>");
                        //tr.append("<a href=/home/export/" + json[i].Serial + ">Export to Pdf</a></td ></tr>");
                        $('table').append(tr);
                    }
                    else { //update table

                        $("#1_" + id).text(json[i].Serial);
                        $("#2_" + id).text(json[i].Description);
                        $("#3_" + id).text(json[i].Location);
                        $("#4_" + id).text(json[i].Status);
                        $("#5_" + id).text(json[i].Runtime);
                        if (json[i].AlarmStatus1 == true) {

                            $("#6_" + id).text(json[i].HighAlarmTemp);
                            $("#7_" + id).text(json[i].LowAlarmTemp);
                        }
                        else {
                            $("#6_" + id).text("No alarm");
                            $("#7_" + id).text("No alarm");
                        }

                        $("#8_" + id).text(json[i].Data1 + unit1);


                        $("#9_" + id).text(json[i].Data2 + unit2);
                        //$("#10_" + id).text(json[i].Alarm);
                        $("#11_" + id).text(json[i].TimeUpdated);
                        //background color
                        $("#6_" + id).css("background-color", background);
                        $("#7_" + id).css("background-color", background);
                        $("#8_" + id).css("background-color", background);
                        $("#9_" + id).css("background-color", background);

                    }
                }
            });
    }

</script>
<div table-responsive>
    <table id="dataTable" class="table text-center table-striped table-hover">
        <thead style="background-color:#337ab7; color:white">

            <tr class="text-center">
                <th>Serial</th>
                <th>Description</th>
                <th>Location</th>
                <th>Status</th>
                <th>Run time</th>
                <th>High alarm</th>
                <th>Low alarm</th>
                <th>Data 1</th>
                <th>Data 2</th>
                <th>Time updated</th>
                <th>   </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            ConsoleColor back_ground_color;
            //double data1 = double.Parse(item.Realtime.Data1);
            string high_alarm;//= item.AlarmStatus ? item.HighAlarmTemp.ToString() : "--";
            string low_alarm;//= item.AlarmStatus ? item.LowAlarmTemp.ToString() : "--";
            if (item.Alarm.AlarmStatus1 == true)
            {
                high_alarm = item.Alarm.HighAlarmTemp.ToString();
                low_alarm = item.Alarm.LowAlarmTemp.ToString();
            }
            else
            {
                high_alarm = "No alarm";
                low_alarm = "No alarm";
            }

            //if (item.AlarmStatus == true && (data1 > item.HighAlarmTemp || data1 < item.LowAlarmTemp))
            //{
            //    back_ground_color = ConsoleColor.Red;
            //}
            //else
            //{
            //    back_ground_color = ConsoleColor.White;
            //}
            back_ground_color = ConsoleColor.White;


            <tr>
                <td id="1_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Serial)
                </td>
                <td id="2_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td id="3_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td id="4_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Realtime.Status)
                </td>
                <td id="5_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Realtime.Runtime)
                </td>
                @*<td id="6_@item.Serial" style="background-color: @back_ground_color">*@
                <td id="6_@item.Serial">
                    @high_alarm
                </td>
                @*<td id="7_@item.Serial" style="background-color: @back_ground_color">*@
                <td id="7_@item.Serial">
                    @low_alarm
                </td>
                @*<td id="8_@item.Serial" style="background-color: @back_ground_color">*@
                <td id="8_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Realtime.Data1)
                    @{
                        string unit1 = "°C";
                        string unit2 = "";
                        if (item.Unit == "Celsius")
                        {
                            unit1 = "°C";
                        }
                        else
                        {
                            unit1 = "°F";
                        }

                        if (item.Devicetype == 0x11 || item.Devicetype == 0x22 || item.Devicetype == 0x33 || item.Devicetype == 0x66)
                        {
                            unit2 = "%";
                        }
                        else
                        {
                            unit2 = unit1;
                        }
                    }
                    @unit1
                </td>
                <td id="9_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Realtime.Data2) @unit2
                </td>
                @*<td id="10_@item.Serial">
                        @Html.DisplayFor(modelItem => item.Alarm)
                    </td>*@
                <td id="11_@item.Serial">
                    @Html.DisplayFor(modelItem => item.Realtime.TimeUpdated)
                </td>
                <td>

                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" type="button" href="/home/edit/@item.Serial">Edit</a></li>
                            @*<div class="dropdown-divider"></div>*@
                            <li><a type="button" class="dropdown-item" href="/home/settinglogger/@item.Serial">Initialize logger</a></li>
                            @* <div class="dropdown-divider"></div>*@
                            <li><a class="dropdown-item" href="/home/details/@item.Serial">Details</a></li>
                            @*<div class="dropdown-divider"></div>*@
                            <li><a class="dropdown-item" href="/home/alarm/@item.Serial">Alarm</a></li>
                            @*<div class="dropdown-divider"></div>*@
                            <li><a class="dropdown-item" href="/data/index/@item.Serial">Data</a></li>
                            @*<div class="dropdown-divider"></div>*@
                            <li><a class="dropdown-item" href="/graph/index/@item.Serial">Graph</a></li>
                            @*<div class="dropdown-divider"></div>*@
                            @*<a href="/home/export/@item.Serial">Export to Pdf</a>*@
                        </ul>
                    </div>
                </td> @*button on each row*@


            </tr>
        }
    </table>
</div>