@*@model IEnumerable<MaxithermalWebApplication.Models.Data>*@
@model PagedList.IPagedList<MaxithermalWebApplication.Models.Data>
@using PagedList.Mvc;
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h4>All Data of  Logger: <b>@ViewBag.ID </b>@ViewBag.Timezone</h4>
@Html.ActionLink("Export to Excel", "Reports", new { ReportType = "Excel", id = @ViewBag.ID })  |
@Html.ActionLink("Export to WORD", "Reports", new { ReportType = "Word", id = @ViewBag.ID })  |
@Html.ActionLink("Export to PDF", "Reports", new { ReportType = "Pdf", id = @ViewBag.ID })  |
@Html.ActionLink("Show Graph", "index", "Graph", new { id=@ViewBag.ID}, "")
@{
    string title1 = "Data C1", title2 = "Data C2";
    switch ((byte)ViewBag.devType)
    {
        case 0x11:
            title2 = "Humidity (%)";
            title1 = " Room temperature";
            break;
        case 0x22:
            title2 = "Humidity (%)";
            title1 = "LN2";
            break;
        case 0x33:
            title2 = "Humidity (%)";
            title1 = "RTD2";
            break;
        case 0x44:
            title2 = "LN2" + ViewBag.UnitTemp;
            title1 = "Room Temperature";
            break;
        case 0x55:
            title2 = "RTD2" + ViewBag.UnitTemp;
            title1 = "Room temperature";
            break;
        case 0x66:
            title2 = "Humidity (%)";
            title1 = "Thermal couple";
            break;
        case 0x77:
            title2 = "Thermal couple" + ViewBag.UnitTemp;
            title1 = "Room temperature";
            break;
    }
    title1 += ViewBag.UnitTemp;
}
<table id="table_id" class="table">
    <tr>
        <th>
            No.
        </th>
        <th>
            @title1
        </th>
        <th>
            @title2
        </th>
        <th>
            Time
        </th>
        <th></th>
    </tr>

    @{
        int i = (Model.PageNumber - 1) * 12;
        if (Model.Count > 0)
        {

            foreach (var item in Model)
            {
                {
                    i++;
                }
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>

                </tr>
            }
        }
    }

</table>

<!-- Thêm mã phân trang -->
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
<!-- Kết thúc -->

<script>
    function GetNewestData()
    {
        var lastRecordID= @ViewBag.lastRecordID
        $.ajax({
            type: "POST",
            url: "/Data/NewestData/@ViewBag.ID",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                if (data.ID > lastRecordID) {
                    lastRecordID = data.ID;
                    @{
                        i++;
                    }

                    location.reload();
                    //Add new data to table
                    @*var tr;
                    tr = $('<tr>');
                    tr.append("<td >" + @i + "</td>");
                    tr.append("<td >" + data.Data1 + "</td>");
                    tr.append("<td >" + data.Data2 + "</td>");
                    tr.append("<td >" + data.Time + "</td></tr>");

                    //$('table').append(tr);
                    $('#table_id').append(tr);*@

                }

                //var date = new Date(data.Time * 1000);
                //console.log(date);
                //var date2 = new Date(data.Time);
                //console.log(date2.Time);
            }
        });
    }
    setInterval(GetNewestData, 1000);
</script>