@model MaxithermalWebApplication.Models.DataToSend

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DataToSend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContinueMem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContinueMem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutoStarttime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoStarttime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntervalSec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervalSec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntervalMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervalMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntervalHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervalHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntervalSendLora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntervalSendLora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimezoneId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimezoneId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighAlarmTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighAlarmTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowAlarmTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowAlarmTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighAlarmHumid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighAlarmHumid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowAlarmHumid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowAlarmHumid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlarmStatus1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlarmStatus1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlarmStatus2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlarmStatus2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setting.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setting.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Serial }) |
    @Html.ActionLink("Back to List", "Index")
</p>
